@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-specific base styles */
:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji;
  background-color: #f3f4f6;
}
